<!DOCTYPE html>
<html lang="en-US">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BAD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
</head>

<body>    
    
    <div class="header-section">
        <div class="header-section-1">
            <h1><a href="{% url 'index' %}">Blockchain for Allocation and Decentralization</a></h1>
        </div>
     
        <div class="header-section-2">
            <nav></nav>
        </div>
        
        <div class="header-section-3">
            {% if user.is_authenticated %}
            <!--p>{{ user.username }}</p> 
            <a href="{% url 'logout' %}">Logout</a-->
               
            
            <div class="dropdown">
                <button onclick="dropdownbutton()" class="dropbtn">{{ user.username }}</button>
                <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'accessible' %}">My Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
                
            <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function dropdownbutton() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
               
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                   }
                }
            }
            </script>
            {% endif %}   
            
        </div>
    </div>
    
    <div class="pagebody">
        
        {% block content %}{% endblock %}
    </div>
</body>

<!--nav user.a.net_balance -->
</html>
