{% extends "base.html" %}
{% load parking_tags %}
{% load static %}

{% block content %}
<div class="svg-container">
{% chart 'Surge 1 Futures' 'future_history' %}
</div>
<hr>
<br>
<div class="filter-grid">
    <div>
        <h1>Futures</h1>
        <p><a href="{% url 'future_call_list' %}">Sell a Spot</a></p>
        <p><a href="{% url 'future_put_list' %}">Buy a Spot</a></p>
    </div>
    <div>
        <h1>Lookup</h1>
        <p><a href="{% url 'accessible' %}">Lookup Your Spots</a></p>
        <p><a href="{% url 'whitepages' %}">Lookup Others' Spots</a></p>
        <p><a href="{% url 'pending_options' %}">Lookup  Your Unfulfilled Options</a></p>
    </div>
    <div>
        <h1>Options</h1>
        <p><a href="{% url 'option_call_list' %}">Want to Sell?</a></p>
        <p><a href="{% url 'option_put_list' %}">Want to Buy?</a></p>
        <p><a href="{% url 'accepted_options' %}">Exercise an Option</a></p>
    </div>
    <div>
        <h1>Groups</h1>
        <p><a href="{% url 'group_create' %}">Create a Group</a></p>
        <p><a href="{% url 'group_list' %}">Join a Group</a></p>
        <p><a href="{% url 'profile' %}">Allocate Spots to Groups</a></p>
        <p><a href="{% url 'group_available' %}">See Your Groups</a></p>
        <p><a href="{% url 'group_owned' %}">See Your Owned Groups</a></p>

    </div>
</div>

<br>
<br>
<script src="{% static 'chartLoader.js' %}"></script>
{% endblock %}
